  *{
      margin: 0;
      height: 100%;
  }
  body{
      width: 100%;
  }
  .one{
    background-color: black;
    background-image: linear-gradient( #ffffff, #585553,#1598af,#575f0f);
  }
  .img-container{
      background-image: url("post.jpg");
      left:20px ;
      height: 100%;
      bottom: 630px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
  }
  .inner-container{
      text-align: center;
      position: absolute;
      width: 100%;
      top: 280px;
      color: rgb(26, 137, 145);
      height: auto;
  }
  a{
     margin-top: 20px;
     font-size:1.3rem ;
     font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .btn{ 
    border-radius: 20%;
     display: inline-block;
     width: 200px;    
      font-weight: bold;  
    padding: 10px;
     color:rgb(3, 2, 17) ;
     border: 4px solid #000;
     text-align: center;
     outline: none;
     text-decoration: none;
     transition: background-color 0.2s ease-out, color 0.2s ease-out;
     opacity: 1;
     background-color: rgb(224, 204, 20);

  }
  .btn:hover,.btn:active{
      background-color: #df6909;
      color: #000;
      transition:background-color 0.3s ease-in, color 0.3s ease-in;
  }
  @media only screen and(max-width:920px){
      .inner-container{
          margin-top: 100px;
      }
  }
  @media only screen and(max-width:540px){
    .inner-container{
        margin-top: 150px;
    }


}
#mySidenav a {
    position: absolute;
    left: -115px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  
  #mySidenav a:hover {
    left: 0;
  }
  
  #about {
    top: 20px;
    background-color: #4CAF50;
    height: 10px;
  }
  #Precaution {
    top: 80px;
    height: 10px;
    background-color: #2196F3;
  }

  #contact {
    top: 140px;
    height: 10px;
    background-color: rgb(201, 18, 18)
  }