  *{
      margin: 0;
      height: 100%;
  }
  body{
      width: 100%;
  }
  .one{
      width: 100%;
    background-color: black;
    background-image: linear-gradient( #ffffff, #585553,#1598af,#575f0f);
  }
  .img-container{
      background-image: url("post.jpg");
      left:15px;
      height: 100%;
      bottom: 670px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
  }
  .inner-container{
      text-align: center;
      position: absolute;
      width: 100%;
      top: 230px;
      color: rgb(26, 137, 145);
      height: auto;
  }
  a{
     margin-top: 20px;
     font-size:1.3rem ;
     font-weight: bold;
     font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .btn{ 
     display: inline-block;
     width: 200px;     
    padding: 10px;
     color:rgb(3, 2, 17) ;
     border: none;
     text-align: center;
     outline: none;
     text-decoration: none;
     transition: background-color 0.2s ease-out, color 0.2s ease-out;
     opacity: 1;
     background-color:crimson;
     border-radius: 3px;
     border: inset 2px rgb(0, 109, 143);

  }
  .btn:hover,.btn:active{
      background-color: red;
      color: #000;
      transition:background-color 0.3s ease-in, color 0.3s ease-in;
  }
  @media only screen and(max-width:920px){
      .inner-container{
          margin-top: 100px;
      }
  }
  @media only screen and(max-width:540px){
    .inner-container{
        margin-top: 150px;
    }


}
#mySidenav a {
    position: absolute;
    left: -102px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    color: white;
    border-radius: 0 5px 5px 0;
    border: inset 2px rgb(203, 213, 216);
  }
  
  #mySidenav a:hover {
    left: 0;
  }
  
  #about {
    top: 20px;
    background-color: rgb(241, 165, 78);
    height: 10px;
    
  }
  #about h1{
      font-size: 15px;
    
  }
  #Precaution {
    top: 80px;
    height: 10px;
    background-color: white;
  }
  #Precaution h1{
    font-size: 15px;
  color: blue;
}
#contact {
    top: 140px;
    height: 10px;
    background-color:rgb(23, 201, 53);
  }
  #contact h1{
    font-size: 15px;
  }
  .two{
    height: 20%;
    width: 100%;
    padding: 100px 0px ;
   background-color: #ad3e3e;

  }
  .two .description h1{
      font-size: 40px;
      text-align: center;
      text-transform: uppercase;
     color: rgb(11, 72, 126);

  }
  .two h1:hover{
    text-decoration: underline;
  }
  .two .description p{
    
    color: #c2c0c3;
    font-size: 18px;
    text-align: center;


}
.three{
  height: 100px;
  width: 100%;
  padding: 100px 0px ;
 background-color: #37505f;

}
.three .instruct h1{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
 color: rgb(114, 109, 64);

}
.three .instruct h1:hover{
  text-decoration: underline;
}
.three .instruct p{
   padding-bottom: 30px;
  color: #ffffff;
  font-size: 18px;
  text-align: center;


}
